/**
 * -----------------------------------------------------------------------
 * Layout de Botões
 * -----------------------------------------------------------------------
 * 
 * @author Ronaldo Stiene <rstiene27@gmail.com>
 * @since 29/01/2020
 */


/*************************************\
|*         Botões Preenchidos        *|
\*************************************/

/* Botão Primário Preenchido */
.gg-btn-primary {
    background-color: #d4e366!important;
    border-color: #d4e366;
    color: #212529;
}
.gg-btn-primary:hover,
.gg-btn-primary.hover {
    background-color: #c6d45f!important;
    border-color: #c6d45f;
    color: #212529;
}
.gg-btn-primary:active {
    background-color: #bac75a!important;
    border-color: #bac75a;
    color: #212529;
}

/* Botão Escuro Preenchido */
.gg-btn-dark {
    background-color: #588754!important;
    border-color: #588754;
    color: #fff;
}
.gg-btn-dark:hover {
    background-color: #4e784a!important;
    border-color: #4e784a;
    color: #fff;
}
.gg-btn-dark:active {
    background-color: #436940!important;
    border-color: #436940;
    color: #fff;
}

/*************************************\
|*         Botões Sublinhados        *|
\*************************************/

/* Botão Primário Sublinhado */
.gg-btn-outline-primary {
    background-color: transparent!important;
    transition: 0.2s;
    border: 1px solid #d4e366;
    border-radius: 5px;
    color: #212529;
}
.gg-btn-outline-primary:hover,
.gg-btn-outline-primary.hover {
    transition: 0.2s;
    background-color: #c6d45f!important;
    border-color: #c6d45f;
    color: #212529;
}
.gg-btn-outline-primary:active {
    transition: 0.2s;
    background-color: #bac75a!important;
    border-color: #bac75a;
    color: #212529;
}

/* Botão Claro Sublinhado */
.gg-btn-outline-light {
    transition: 0.2s;
    border: 1px solid #e0e8a2;
    border-radius: 5px;
    color: #212529;
}
.gg-btn-outline-light:hover,
.gg-btn-outline-light.hover {
    transition: 0.2s;
    background-color: #e0e8a2!important;
    border-color: #e0e8a2;
    color: #212529;
}
.gg-btn-outline-light:active {
    transition: 0.2s;
    background-color: #d4db9a!important;
    border-color: #d4db9a;
    color: #212529;
}

