/**
 * -----------------------------------------------------------------------
 * Tamanhos Personalizados
 * -----------------------------------------------------------------------
 * 
 * @author Ronaldo Stiene <rstiene27@gmail.com>
 * @since 29/01/2020
 */


/*************************************\
|*              Tamanhos             *|
\*************************************/

/* Geral */
.gg-size-4 {
    max-height: 1.5em;
    max-width: 1.5em;
}
.gg-size-7 {
    height: 6em;
    width: 6em;
}

/* Altura */
.gg-h-1 {
    height: 30px;
}
.gg-h-4 {
    height: 1.5em;
}
.gg-h-6 {
    height: 4em;
}
.gg-h-7 {
    height: 6em;
}


/*************************************\
|*          Tamanhos Máximos         *|
\*************************************/

/* Máximo Geral */
.gg-max-size-2 {
    max-height: 50px;
    max-width: 50px;
}
.gg-max-size-3 {
    max-height: 90px;
    max-width: 90px;
}
.gg-max-size-5 {
    max-height: 150px;
    max-width: 150px;
}

/* Altura Máxima */
.gg-max-h-1 {
    max-height: 30px;
}
.gg-max-h-2 {
    max-height: 50px;
}
.gg-max-h-3 {
    max-height: 90px;
}
.gg-max-h-5 {
    max-height: 150px;
}

/* Largura Máxima */
.gg-max-w-2 {
    max-width: 50px;
}
.gg-max-w-3 {
    max-width: 90px;
}
.gg-max-w-5 {
    max-width: 150px;
}


/*************************************\
|*          Tamanhos Mínimos         *|
\*************************************/

/* Altura Mínima */
.gg-h-5 {
    min-height: 5em;
}
.gg-h-7 {
    min-height: 10em;
}